[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"

[packages]
discord = "*"
psycopg2 = "*"
pyyaml = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
